.button {
    background-color: --foreground;
    color: var(--text-1);
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.icon {
    margin-right: 8px;
    width: 100%;
    height: 100%;
}