@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* Your default theme */
/* CSS HEX */
--white: #ffffff;
--accent-1: #79B4B7;
--accent-2: #f3fcfb;
--accent-3: #9D9D9D;
--accent-4: #e9edc9ff;
--accent-5: #F8F0DF;
--text-1: #000000ff;
--text-2: #ffffff;
--text-7: #fc8b18;
}

[data-theme='dark'] {
  --white: #ffffff;
  --accent-1: #222629;
  --accent-2: #474b4f;
  --accent-3: #6b6e70;
  --accent-4: #79B4B7;
  --accent-5: #95C8CA;
  --accent-6: #A7D5D8;
  --accent-7: #9AAFB3;
  --accent-8: #3A3F42;

  --text-1: #ffffff;
  --text-2: #000000ff;
  --text-3: #79B4B7;
  --text-4: #B0B3B5;
  --text-6: #A7D5D8;
  --text-7: #ffd8a7;

}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--accent-2);
  color: var(--text-1);
  margin-top: 50px;
}
main {
  padding: 1rem 10vw;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h2 { font-size: 1.25rem; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

img {max-width: 100%;}

input { 
  display: inline-block; 
  outline: none;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  padding: 5px 10px;
}

fieldset {
  border: none;
  padding: 1rem 0;
  font-size: 1.25rem;
}

code {
  overflow-x: scroll;
}

/* Buttons */

.btn, button {
  background-color: var(--accent-2);
  border: none;
  color: var(--text-3);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0;
}

@media screen and (max-width: 768px) {
  button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}


button:hover {
  filter: brightness(90%);
}

button:disabled,
button[disabled]{
  filter: brightness(80%);
  cursor: not-allowed;
}

button.btn-blue {
  background-color: var(--color-blue);
  color: white;
}

button.btn-red {
  background-color: var(--color-red);
  color: white;
}

button.btn-green {
  background-color: var(--color-green);
  color: white;
}

button.btn-google {
  background-color: white;
  color: var(--color-text);
}

.btn-google img {
  width: 30px;
  margin-right: 10px;
}

button.btn-logo {
  background-color: var(--accent-1);
  color: var(--text-3);
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

/* Loader */

.loader {
  border: 10px solid var(--color-bg); 
  border-top: 10px solid var(--color-blue); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}