.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.guesses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
  height: 100%;
  margin: 1rem 1rem;
  background-color: var(--accent-4);
}

.guesses > p {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.themeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.newPlayerButton {
  background-color: var(--accent-3);
  color: var(--text-1);
  font-size: large;
  width: 100%;
  margin: auto;
}

.gamesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 3rem;
  row-gap: 1rem;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-4);
  padding: 1rem 1.5rem;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}

.game > p {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.transfersContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.transfersContainer > p {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-1);
}

.clubs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.transfer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

.club {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 100%;
  min-width: 48px;
}

.club > p {
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--text-1);
  height: 10px;
}

.completedRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 0.25rem;
  background-color: var(--accent-1);
  text-align: center;
  min-width: 25 0px;
  max-width: 400px;
}

.completedRow > p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-1);
  
}

.playerPhoto {
  border-radius: 100%;
}

.playerName {
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--text-1);
}

.guesses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
  height: 100%;
  margin: 1rem 1rem;
  background-color: var(--accent-1);
  max-width: 550px;
}

.guesses > p {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.arrow {
  width: 20px;
  margin: 42px 0.3rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-1);
}

.confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .completedRow {
    width: 100%;
  }
}
