.iconsContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    column-gap: 10%;
    border-radius: 4px;
    height: 100%;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: aliceblue;
    
}

.iconsContainer > img {
    height: 64px;
    align-self: center;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 33%;
    padding: 12px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: aliceblue;
}