.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    height: 100%;
    width: 100%;
    border-top: 1px solid var(--accent-2);
    transition: all 0.3s ease-out;
    padding: 1rem 1.5rem;
}
.container:last {
    border-top: 0;
}
.player {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.8rem;
}
.indexNumber {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 1rem;
    width: 2.5%;
}
.playerPhoto {
    border-radius: 100%;
}

.hints {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.8rem;
}

.flag {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    padding: 4px;
}

.correctFlag {
    background-color: #28a745;
}

.wrongFlag {
    background-color: #dc3545;
}

.position {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    font-weight: 800;
}

#wrongPosition {
    color: brown;
}

#correctPosition {
    color: #28a745;
}

@media (max-width: 600px) {
    .indexNumber {
        margin-right: 0.3rem;
    }
  }