/* Navbar */

.navbar {
  height: 70px;
  width: 100%;
  background: var(--accent-1);
  color: var(--text-1);
  position: fixed;
  top: 0;
  padding: 0 15vw;
  font-weight: bold;
  border-bottom: 1px solid var(--accent-3);
  z-index: 99;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.themeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.themeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-5);
  color: var(--text-1);
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.profilePic img {
  border-radius: 50%;
  cursor: pointer;
  min-width: 50px;
}
.loginButton {
  color: var(--text-1);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  justify-content: flex-end;
  align-items: center;
}

.leaderBoardButton {
  color: var(--accent-4);
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  min-width: 75px;
  width: 30%;
}
.leaderBoardButton:hover {
  filter: brightness(90%);
}

.leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 30%;
}

.rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 30%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 0 5vw;
  }
  .themeButton {
    width: 80%;
  }
  .leftSide {
    width: 10%;
  }
  .rightSide {
    width: 10%;
  }
  .loginButton {
    min-width: none;
  }
}